<h1>User Index</h1>

<% @users.each do |user| %>
  <% next if current_user == user %>
<p>
  <%= user.username %>

  <button class="friend
        <%= 'hidden' if !Friendship.can_friend?(current_user.id, user.id) %>"
        id="<%= user.id %>"
      data-in_id="<%= user.id %>">
    Add Friend
  </button>

  <% friendship = Friendship.find_by(out_friend_id: user.id, in_friend_id: current_user.id) %>
  <button class="unfriend <%= 'hidden' if Friendship.can_friend?(current_user.id, user.id) %>" data-in_id="<%= user.id %>" data-friendship_id="<%= friendship.id if friendship %>">
    Unfriend
  </button>

</p>
<% end %>


<script>
  $(document).ready( function() {
    $('.friend').on("click", function(event) {

      var $clicked = $(event.target);
      var $in_friend_id = $clicked.data("in_id");

      var formData = $(this).serialize();

      $clicked.html("friending...");

      $.ajax({
        url: "/users/" + $in_friend_id + "/friendships",
        type: "POST",
        data: formData,
        success: function(id) {
          console.log(id)
          $("button[data-in_id=\"" + $in_friend_id +
                      "\"]").toggleClass("hidden");
          $("button[data-in_id=\"" + $in_friend_id +
                                  "\"]").last().attr('data-friendship_id', id);
          $('.friend').html('Add Friend');
          $('.unfriend').html('Unfriend');
        }
      });
    });

    $('.unfriend').on("click", function(event) {

      var $clicked = $(event.target);

      var $in_friend_id = $clicked.data("in_id");

      var $friendship_id = $clicked.attr('data-friendship_id');

      $clicked.html("unfriending...");

      $.ajax({
        url: "/friendships/" + $friendship_id,
        type: "DELETE",
        success: function() {
          $("button[data-in_id=\"" + $in_friend_id +
                      "\"]").toggleClass("hidden");
          $('.friend').html('Add Friend');
          $('.unfriend').html('Unfriend');
        }
      });
    });
  });
</script>