<h1>User Index</h1>
  <script>

  $(document).ready( function() {
    $('.friend').on("click", function(event) {

      var $clicked = $(event.target);
      var $in_friend_id = $clicked.data("in_id");


      var formData = $(this).serialize();

      $clicked.html("friending...");

      $.ajax({
        url: "/users/" + $in_friend_id + "/friendships",
        type: "POST",
        data: formData,
        success: function() {

          $("button[data-in_id=\"" + $in_friend_id +
                      "\"]").toggleClass("hidden");
          $('.friend').html('Add Friend');
          $('.unfriend').html('Unfriend');
        }
      });
    });

    $('.unfriend').on("click", function(event) {
      event.preventDefault();
      var $clicked = $(event.target);

      var fship_id = $clicked.data("fship_id");
      var $in_friend_id = $clicked.data("in_id");

      $clicked.html("unfriending...");

      $.ajax({
        url: "/users/" + $in_friend_id + "/friendships",//"/friendships/" + in_id,
        type: "POST",
        success: function() {

          $("button[data-in_id=\"" + $in_friend_id +
                      "\"]").toggleClass("hidden");
          $('.friend').html('Add Friend');
          $('.unfriend').html('Unfriend');
        }
      });
    });
  });
  </script>

  <!-- #check if can friend
  #toggle on can friend class
  #toggle off unfriend
  #else toggle off friend class toggle on unfriend --> -->

<% @users.each do |user| %>
<p>
  <%= user.username %>

  <button type="button" class="friend
        <%= 'hidden' if !Friendship.can_friend?(current_user.id, user.id) %>"
        id="<%= user.id %>"
      data-in_id="<%= user.id %>">
    Add Friend
  </button>
  <button type="button" class="unfriend
        <%= 'hidden' if Friendship.can_friend?(current_user.id, user.id) %>"
      data-in_id="<%= user.id %>">
    Unfriend
  </button>

</p>
<% end %>
